@import '../../../assets/styles/variables.scss';

.movie-card-container {
	margin-right: 50px;
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 20px;
	height: 100%;
	width: 100%;
	.movie-thumbnail-container {
		position: relative;
		.movie-thumbnail {
			border-radius: 20px;
		}
		.movie-bookmark-icon-container {
			width: 20px;
			height: 20px;
			position: absolute;
			top: 15px;
			right: 15px;
			padding: 10px;
			background-color: $grey;
			border-radius: 50%;
			cursor: pointer;
			&:hover {
				filter: brightness(70%);
			}
		}
	}
	.movie-subtitle-container {
		color: $grey;
		display: flex;
		width: 120px;
		justify-content: space-between;
		align-items: center;
		margin: 10px 0;
		.dot {
			height: 5px;
			width: 5px;
			background-color: $grey;
			border-radius: 50%;
			display: inline-block;
		}
		span {
			font-size: small;
		}
	}
	.movie-title {
		font-size: large;
	}
}
