@import '../../assets/styles/variables.scss';

.navbar-container {
	background-color: $semiDarkBlue;
	width: 95%;
	height: 80px;
	padding: 0 20px;
	display: flex;
	align-self: center;
	align-items: center;
	justify-content: space-between;
	border-radius: 25px;
	ul {
		list-style-type: none;
		display: flex;
		justify-content: space-between;
		padding: 0;
		min-width: 150px;
		max-width: 40%;
		li {
			margin: 20px 0;
			&:hover {
				cursor: pointer;
				filter: brightness(300%);
			}
		}
	}
	.avatar-container {
		right: 30px;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		display: inline-block;
		border: 2px solid $white;
	}
	.sign-in-up-container {
		margin-right: 20px;
		width: 160px;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: $white;
		font-size: 1.3rem;
		font-weight: bold;
		font-family: 'Source Serif Pro', serif;
		div {
			cursor: pointer;
			&:hover {
				color: rgb(0, 255, 242);
			}
		}
	}
}
