@import '../../assets/styles/variables.scss';
@import '../../assets/styles/mixins.scss';

.navbar-container {
	background-color: $semiDarkBlue;
	height: 80px;
	display: flex;
	align-self: center;
	align-items: center;
	justify-content: center;
	border-radius: 25px;
	@include mediaQuery(sm) {
		justify-content: space-between;
	}
	.logo-container {
		display: none;
		margin-left: 10px;
		@include mediaQuery(sm) {
			display: block;
		}
	}
	ul {
		list-style-type: none;
		justify-content: space-between;
		display: flex;
		padding: 0;
		min-width: 150px;
		max-width: 40%;
		margin: 0 20px;
		li {
			margin: 20px 0;
			cursor: pointer;
		}
	}
	.after-signin-container {
		width: 120px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.avatar-container {
			right: 30px;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			display: inline-block;
			border: 2.5px solid $white;
		}
		.signout-container {
			width: 50px;
			height: 50px;
			cursor: pointer;
		}
	}
	.before-signin-container {
		margin-right: 20px;
		width: 160px;
		height: 100%;
		justify-content: space-between;
		align-items: center;
		color: $white;
		font-size: 1.3rem;
		font-weight: bold;
		font-family: 'Source Serif Pro', serif;
		div {
			cursor: pointer;
			&:hover {
				color: rgb(0, 255, 242);
			}
		}
		display: flex;
	}
}

.linkActiveEffect {
	filter: brightness(300%);
}
