@import './variables.scss';

@mixin mediaQuery($breakpoint) {
	@each $bp, $size in $media {
		@if $breakpoint == $bp {
			@media screen and (min-width: $size) {
				@content;
			}
		}
	}
}

@mixin movieCardsLayout($category) {
	color: $white;
	.#{$category}-cards-container {
		padding: 0 1.5rem;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
		align-items: center;
		.#{$category}-card-container-wrapper {
			margin: 10px;
			&:hover {
				transform: scale(1.05);
			}
		}
	}
}
