//Colours
$darkBlue: #10141e;
$semiDarkBlue: #161d2f;
$greyishBlue: #5a698f;
$red: #fc4747;
$white: #ffffff;
$grey: #979797;

// Media
$media: (
	xs: 0px,
	sm: 648px,
	md: 768px,
	lg: 1024px,
	xl: 1280px,
	2xl: 1536px,
	3xl: 1920px,
);
